.inner_carrier__floor {
    stroke-width: 2px;
    stroke: white;
    stroke-linejoin: round;
    fill: #113899;
}

.inner_carrier__wall {
    stroke-width: 1px;
    stroke: white;
    fill: #113899;
}

.inner_carrier__wall_active {
    stroke-width: 2px;
    stroke: red;
}
