.help_button {
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &__button {
        font-size: 16px;
        text-align: right;
        color: white;
        margin-bottom: 10px;
    }
}
