.wrapper {
    background: #113899;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.structure_grid {
    min-width: 1200px;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;

    &__item {
        position: relative;
        flex: 1;
    }
}
