.wrapper {
    background: #191e60;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.structure_grid {
    min-width: 1200px;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;

    &__item {
        position: relative;
    }
}