.location_container {
    position: relative;
}

.location {
    fill: none;
    stroke: white;
    stroke-width: 1px;

    &__ground_back {
        stroke-width: 1px;
        opacity: 1;
        fill: #113899;
    }

    &__ground_back_active {
        stroke-width: 2px;
        opacity: 1;
        stroke: red;
    }

    &__ground_front {
        stroke-width: 3px;
    }

    &__walls_outer {
        stroke-width: 1px;
        opacity: 0.4;
    }

    &__walls_back {
        stroke-width: 1px;
        opacity: 0.4;
    }

    &__walls_inner {
        stroke-width: 3px;
    }
}
